*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/
build/
env/
*.DS_Store
dist/
.eggs/
khaled/khaled.db
khaled/upload/*.mp3
khaled/upload/*.wav
data/supercut*
output.mp3
